@model ElectronicNotebook.Models.Appointment

@{
    ViewBag.Title = "Delete";
}

<h3>¿Está seguro de que desea eliminar esta cita?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.name)
            @Html.DisplayFor(model => model.Patient.lastName1)
            @Html.DisplayFor(model => model.Patient.lastName2)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date.Day) /
            @Html.DisplayFor(model => model.date.Month) /
            @Html.DisplayFor(model => model.date.Year)
        </dd>

        <dt>
            Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
