@model ElectronicNotebook.Models.Patient

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Está seguro de eliminar este paciente</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cédula
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Primer apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName1)
        </dd>

        <dt>
            Segundo apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName2)
        </dd>

        <dt>
            Correo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Lista de pacientes", "Index")
        </div>
    }
</div>
